<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-expand-lg bg-white">
  <a href="https://demicon.de/">
    <img src="/assets/demicon_logo.png" width="300" class="d-inline-block align-top brand-img" alt="Demicon Logo">
  </a>
</nav>

<!-- Content for the main page -->
<div class="container-fluid background">
    <div class="container tools-body">
      <div class="row">
      <div class="header text-center">
        <div class="jumbotron">
            <h1 class="display-3">{{title}}</h1>
            <p class="lead">Das manuelle Hochladen und Bereitstellen von Code zum Aktualisieren von Anwendungen gehört der Vergangenheit an. Mithilfe von AWS-Tools wie CodePipeline, CodeBuild und S3 erstellen Sie ein System, mit dem Sie Code schreiben und hochladen können, der nahtlose und automatische Bereitstellungen auslöst. Sie richten auch eine E-Mail-Benachrichtigung ein, die an Entwickler gesendet wird, wenn sich der Status des Build-Prozesses mithilfe von CloudWatch und SNS ändert. Konzentrieren Sie sich auf Ihr Business und lassen AWS für sich arbeiten.</p>
            <p><a class="btn btn btn-success" href="https://noch_zu_erstellen" role="button">Den Quellcode ansehen <i class="fa fa-code"></i></a></p>
          </div>
          <img class="mx-auto d-block" style="max-width: 1000px; padding-top: 50px;"src="assets/continious_deployment.png" alt="Continious Deployment Architecture diagram">
      </div>
    </div>
    <div class="row">
        <div class="col-2">
          <img class="img-icon" src="assets/DeveloperTools_AWSCodePipeline_LARGE.png" alt="AWS Code Pipeline icon">
        </div>
        <div class="col-10">
          <h5><a href="https://aws.amazon.com/codepipeline/">CodePipeline</a></h5>
          <p>AWS CodePipeline ist ein vollständig verwalteter Continuous Delivery-Service, mit dem Sie Ihre Veröffentlichungs-Pipelines für schnelle und zuverlässige Updates von Anwendungen und Infrastruktur automatisieren können. CodePipeline automatisiert bei jeder Code-Änderung die Erstellungs-, Test- und Bereitstellungsphasen Ihres Veröffentlichungsprozesses basierend auf dem von Ihnen definierten Veröffentlichungsmodell. So können Sie Funktionen und Updates schnell und verlässlich liefern. AWS CodePipeline kann einfach in Drittanbieterservices wie GitHub oder mithilfe eines eigenen benutzerdefinierten Plug-Ins integriert werden. Mit AWS CodePipeline zahlen Sie nur für die tatsächliche Nutzung. Es gibt keine Vorabkosten oder langfristige Verpflichtungen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
          <img class="img-icon" src="assets/DeveloperTools_AWSCodeBuild_LARGE.png" alt="AWS Code Build icon">
        </div>
        <div class="col-10">
            <h5><a href="https://aws.amazon.com/codebuild/">CodeBuild</a></h5>
            <p>AWS CodeBuild ist ein vollständig verwalteter Service für die kontinuierliche Integration. Sie können damit Quellcode kompilieren, Tests ausführen und implementierbare Softwarepakete generieren. Dank CodeBuild brauchen Sie keine eigenen Entwicklungsserver mehr bereitzustellen, zu verwalten und zu skalieren. CodeBuild passt sich kontinuierlich der Arbeitslast an und kann auch mehrere Builds gleichzeitig verarbeiten. Keine Builds bleiben mehr in Warteschlangen hängen. Mit den vorkonfigurierten Build-Umgebungen gelingt der Einstieg leicht. Jedoch können Sie auch benutzerdefinierte Build-Umgebungen mit Ihren eigenen Entwicklungstools erstellen. Die für CodeBuild in Anspruch genommenen Rechenressourcen werden minutengenau abgerechnet.</p>
        </div>
    </div>
    <div class="row" >
        <div class="col-2">
          <img class="img-icon" src="assets/Storage_AmazonS3_bucket_LARGE.png" alt="AWS S3 icon">
        </div>
        <div class="col-10">
            <h5><a href="https://aws.amazon.com/getting-started/projects/host-static-website/">S3 Hosting</a></h5>
            <p>Statische Websites stellen den Website-Besuchern HTML, JavaScript, Images, Video und weitere Dateien bereit. Sie enthalten keinen Anwendungscode. Sie eignen sich am besten für Websites, die über wenige Autoren verfügen und an deren Inhalt nur relativ selten Änderungen vorgenommen werden. In der Regel handelt es sich dabei um persönliche und einfache Marketing-Websites. Statische Websites sind kostengünstig im Unterhalt, bieten ein hohes Maß an Zuverlässigkeit, erfordern nahezu keine IT-Administration und können nach einer Skalierung ohne weiteren Arbeitsaufwand Datenverkehr auf Unternehmensniveau verarbeiten.</p>
          </div>
    </div>
    <div class="row" >
        <div class="col-2">
          <img class="img-icon" src="assets/Messaging_AmazonSNS_LARGE.png" alt="AWS SNS icon">
        </div>
        <div class="col-10">
            <h5><a href="https://aws.amazon.com/sns/">SNS</a></h5>
            <p>Amazon Simple Notification Service (SNS) ist ein langlebiger, sicherer, vollständig verwalteter Pub/Sub-Messaging-Dienst, der es Ihnen ermöglicht, Mikroservices, verteilte Systeme und serverlose Anwendungen zu entkoppeln. Amazon SNS bietet Themen für hochdurchsatzorientiertes, push-basiertes, Many-to-Many-Messaging. ﻿﻿Mithilfe von Amazon SNS-Themen können Ihre Publisher-Systeme Nachrichten an eine große Anzahl von Subscriber-Endpunkten zur parallelen Verarbeitung verteilen, einschließlich Amazon SQS-Warteschlangen, AWS Lambda-Funktionen und HTTP/S-Webhooks. Mit der AWS Management Console, der AWS Command Line Interface (CLI) oder dem AWS Software Development Kit (SDK) können Sie innerhalb weniger Minuten mit Amazon SNS beginnen.</p>
          </div>
    </div>
    <div class="row" >
        <div class="col-2">
          <img class="img-icon" src="assets/ManagementTools_AmazonCloudWatch_LARGE.png" alt="AWS Cloud Watch icon">
        </div>
        <div class="col-10">
            <h5><a href="https://aws.amazon.com/cloudwatch/">CloudWatch</a></h5>
            <p>Amazon CloudWatch ist ein Überwachungs- und Managementdienst für Entwickler, Systembetreiber, Site Reliability Engineers (SRE) und IT-Manager. CloudWatch bietet Ihnen Daten und umsetzbare Erkenntnisse, um Ihre Anwendungen zu überwachen, systemweite Leistungsveränderungen nachzuvollziehen und auf sie zu reagieren, die Ressourcennutzung zu optimieren und einen einheitlichen Überblick über den Gesamtbetriebsstatus zu erhalten. CloudWatch sammelt Überwachungs- und Betriebsdaten in Form von Protokollen, Metriken und Ereignissen. So erhalten Sie einen vereinheitlichten Überblick über AWS-Ressourcen, Anwendungen und Dienste, die auf AWS ausgeführt werden, sowie über vor Ort eingesetzte Server. Sie können mit CloudWatch hochauflösende Alarme einrichten, Protokolle und Metriken in Gegenüberstellungen visualisieren, automatisiert Maßnahmen einleiten, Probleme beheben und Erkenntnisse gewinnen, um Ihre Anwendungen zu optimieren und ihren reibungslosen Betrieb sicherzustellen.</p>
        </div>
    </div>
    <footer class="footer">
      <p>© Copyright {{date}}</p>
    </footer>
  </div>
</div>




